@-moz-viewport {
    width: device-width;
    scale: 1;
}
@-ms-viewport {
    width: device-width;
    scale: 1;
}
@-o-viewport {
    width: device-width;
    scale: 1;
}
@-webkit-viewport {
    width: device-width;
    scale: 1;
}
@viewport {
    width: device-width;
    scale: 1;
}
html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: normal 100%/1.5 sans-serif;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

@media only screen and (min-width: 60em) {
    html {
        font-size: 110%;
    }
}


@media only screen and (min-width: 90em) {
    html {
        font-size: 120%;
    }
}

@media only screen and (min-width: 120em) {
    html {
        font-size: 130%;
    }

}


body {
    margin: 0;
    padding: 0;
}
img {
    display: block;
    width: 100%;
}
header {
    background-color: #ccc;
    overflow: hidden;
}

.nav {
    /* keep margins */
    padding: 0;
    list-style-type: none;
}
.nav ul {
    list-style-type: none;
}
.nav li {
    margin: 0;

}
.nav a {
    margin: 0;
    text-decoration: none;
    color: #0074D9;
}

.nav a, /* Added when the corrections were received */
.nav a:link,
.nav a:visited {
    display: block;
    color: #0074D9;
    text-decoration: none;
}

.nav a:hover, /* Added when the corrections were received */
.nav a:focus,
.nav a:active {
    background-color: #0074D9;
    color: #fff;
}

.header-nav {
    padding: 0 0 0.6em;
    margin: 0;
    text-align: center;
}

.intro {
    background-color: #e2e2e2;
    text-align: center;
}

.outro {
    background-color: #ccc;
    overflow: hidden;
}

.dark-grey {
    background-color: #e2e2e2;
}

.light-grey {
    background-color: #efefef;
}

.characteristics {
    list-style-type: none;
}

.characteristics dl{
    overflow: hidden;
}

@media only screen and (min-width: 25em) {
        .nav {
            text-align: center;
            }
        .nav li {
            display: inline-block;
            }
        .outro {
            text-align: center;
        }
}

@media only screen and (min-width: 38em) {
        .title {
            float: left;
        }
        .nav {
            float: left;
        }
        .outro {
            text-align: left;
        }
        .nav-footer {
            float: right;
        }
    }

@media only screen and (min-width: 60em) {
        .characteristics dt{
            float: left;
            width: 19em;
        }
        .moon-talk {
            padding-left: 1.5em;
        }
}
